<%
function range(size, startAt = 0) {
  return [...Array(size+1).keys()].map(i => i + startAt);
}
function characterRange(startChar, endChar) {
  return String.fromCharCode(...range(endChar.charCodeAt(0) -
          startChar.charCodeAt(0), startChar.charCodeAt(0)))
}
%>

<div id="canti-all">
  <nav class="navbar d-flex justify-content-center">
    <% 
      [...characterRange('A', 'Z')].forEach( (letter) => { 
        const v = letter.toLowerCase();
    %>
      <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#canti-<%= v %>" aria-controls="canti-<%= v %>" aria-expanded="false" aria-label="Toggle canti <%= v %>"><%= letter %></button>
    <% }) %>
  </nav>
</div>